p, h1, h2, h3, table, li, hr, h4
{
	margin-left: 50pt;
}

p, h1, h2, h3, table, li, hr
{
	margin-right: 30pt;
}

p,table,li,h1,h2,h3,h4
{
	font-family: verdana, arial, 'sans serif'; 
}
h1,h2,h3,h4
{
	color:#00ADC1;
}
pre
{
	font-family: courier;
	margin-left: 75pt;
	color:#0012fd; 
}

th {background-color:#8FD4DC;}

code
{
	font-family: courier;
	font-size: 10pt;
	color:#0012fd; 
}

b{color:#0012fd;}

li
{	
	margin-top: 5pt;
	font-size:80%;
}